[Unit]
Description=Inkflow OS E-Ink Firstboot Auto-Provisioner
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/inkflow-bootstrap
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
