# Massive system image files
*.img
*.img.xz

# Node dependencies
node_modules/
.env

# Python caches
**/__pycache__/
*.pyc

# Local system configuration / caches
.DS_Store

# Local dynamic config and cache directories
config.json
cache/
scratch/
